%labelTransition{
  background-color: #f0f0f0;
  border: 1px solid black ;
  ~ label{
    top: -5px;
    left: 20px;
    font-size: 0.7rem;
    transition: all 150ms;
    background-color: #f0f0f0;
    color: black;
  }
}

section {
  margin: 0 auto;
  padding-top: 50px;
  text-align: center;
  div{
    text-align: left;
  }
  span{
    color: red;
    padding: calc(var(--universal-padding) / 2) var(--universal-padding);
  }
  input {
    width: 100%;
    height: 44px;
    border: 1px solid #dbe2e8;
    border-radius: 6px;
    padding: 0 15px;
    box-sizing: border-box;
    outline: none;
  }

  select {
    width: 100%;
    height: 44px;
    border: 1px solid #dbe2e8;
    border-radius: 6px;
    // margin-bottom: 1rem;
    box-sizing: border-box;
  }
  button{
    border-radius: 6px;
  }
  a{
    display: block;
  }
}



.input-box{
  position: relative;
  margin-bottom: 1rem;
  label{
    position: absolute;
    top: 15px;
    left: 16px;
    padding: 0 5px;
    transition: all 150ms;
    color: rgb(112, 112, 112);
  }
  input:focus{
    @extend %labelTransition;
  }
  input:not(:placeholder-shown){
    @extend %labelTransition;
  }
  select{
    outline: none;
    &:valid{
      @extend %labelTransition;
    }
  }
}

.error{
    border: 1px solid red !important;
    ~ span{
      font-size: 0.8rem;
      position: relative;
      &::before{
        position: absolute;
        content: "";
        top: -6px;
        left: 13px;
        border-color: transparent;
        border-top: red;
        border-style: solid;
        border-width: .5rem;
      }
    }
    ~ label{
      color: red !important;
    }
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #f0f0f0 inset !important;
}
